server:
  port: 8686
  jsp-servlet:
    init-parameters:
      development: true
mybatis:
  type-aliases-package: com.baizhi.entity
 # mapper-locations: classpath:mapper/*.xml
spring:
  http:
    multipart:
      max-request-size: 209715200  #用来控制文件上传大小的限制
      max-file-size: 209715200 #用来指定服务端最大文件大小
  mvc:
    view:
      suffix: .jsp
      prefix: /
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/ems_git
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
#分页插件相关参数
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql